* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

body {
    background-color: #dcf5d6;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 150px;
    background-color: #b3e4a9;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 2em;
}

main {
    width: 100%;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    padding: 50px;
    width: 100%;

    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.sekcja_ustawienia {
    padding: 20px;
    border: 2px dashed #000;
    border-radius: 10px;
    min-height: 210px;
    margin: 0 20px;
    width: 250px;
}
form h2 {
    font-size: 1.5em;

    position: absolute;
    top: 10px;
}
form div h3 {
    margin: 0 0 10px 0;
}

#tekst {
    width: 60%;
    padding: 10px;
    resize: vertical;
}

button {
    min-width: 150px;
    min-height: 40px;
    background: #bbf7f7;
    margin: 40px 0 0 0;
    border: 2px solid #3c4747;
    border-radius: 15px;
    box-shadow: 2px 2px 7px 0 #00000073;
    transition-duration: .3s;
}
button:hover {
    transform: scale(1.05);
}

#output {
    width: 60%;
    background: #ffffff;
    padding: 10px;
    margin: 0 0 40px 0;
    border: 1px solid black;
    text-wrap: wrap;
}


.info {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 50px 0;
    margin: 70px 0;
    min-height: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h2 {
    font-size: 1.5em;
}

#wskazowka {
    width: 60%;
    background-color: #cff1f1;
    padding: 2%;
    margin: 40px 0;
    border: 2px solid #5e7070;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
}


#skanowaniewyszukiwarka {
    width: 100%;
    background-color: rgba(207, 241, 241, 20);
    padding: 30px;
    margin: 30px 0;

    display: none;
    align-items: center;
    flex-direction: column;
}
#wyszukiwarkaSzukanie {
    margin-top: 20px;
    width: 840px;
    padding: 10px;
    resize: vertical;
}

#zaznaczUsunTekst {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#zaznaczUsunTekst hr {
    margin: 10px 0;
    border-top: 2px dashed #000;
}
#kolorZaznaczenia {
    width: 100%;
}
.wyborKoloru {
    margin-top: 20px;
}
.wynik {
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.wynik h2{
    font-size: 1.5em;
    margin: 0 0 40px 0;
}

span {
    background-color: #ffffff;
}